/* Web page */

/* Base styles */

:root {
  --primary-font: 'Roboto', sans-serif;
  --link-logo-font: 'Raleway', sans-serif;
  --primary-gray-color: #434455;
  --primary-dark-color: #2e2f42;
  --primary-light-color: #4d5ae5;
  --primary-white-color: #fff;
  --secondary-accent-color: #e7e9fc;
  --secondary-background-color: #f4f4fd;
}
.section {
  background-color: #fff;
}

.link,
.list,
.navigation-logo,
.span,
.footer-logo,
.list-item .adress-list-item {
  text-decoration: none;
}

.list,
.navigation-list-item,
.adress-list {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #ffffff;
  color: #434455;
}

.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: o;
}

/* Header */

.header-container {
  width: 1440px;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-shrink: 0;
}

header .navigation {
  display: flex;
}

.navigation-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 24px;
  align-items: center;
  flex-shrink: 0;
}

.span {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.navigation-link-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 24px;
}

.link-nav {
  color: #2e2f42;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

/* adress */
.adress {
  background: #fff;
  font-style: normal;
}

.header-adress-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 24px;
}
.header-adress-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
  text-align: left;
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
}

/* Hero styles */

.hero {
  background-color: #2e2f42;
}

.hero-container .container {
  display: block;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.hero-title-container {
  max-width: 496px;
  max-height: 120px;
  margin: 0 auto;
}

.hero-title {
  color: var(--white, #fff);
  background-color: #2e2f42;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-btn-container {
  max-width: 169px;
  max-height: 56px;
  margin: 0 auto;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris, #4d5ae5);
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--ocean, #404bbf);
  color: #fff;
}

/* Benefits styles */

.benefits-container {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
  gap: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.benefits-list-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.benefits-list-desc {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Work styles  */
.case {
  background-color: #f4f4fd;
}

.case-container {
  display: flex;
}

.case-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.case-list-container {
  justify-content: baseline;
  margin: 72px;
}

.case-list-item {
  width: calc((100% - 72px) / 3);
  gap: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.case-list-img {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: #ffffff;
}

/* Team styles */
.team {
  background-color: #f4f4fd;
}

.team-list-container {
  display: flex;
}

.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-list {
  background-color: #ffffff;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  gap: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.team-list-subtitle {
  color: var(--navyblue, #2e2f42);
  background-color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team-list-desc {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* footer */

.footer {
  background-color: #2e2f42;
}

.footer-container .container {
  width: 1440px;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-shrink: 0;
}

.footer-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  background: var(--navyblue, #2e2f42);
  display: inline-flex;
  padding: 24px;
  align-items: center;
  flex-shrink: 0;
}

.footer-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  background: var(--navyblue, #2e2f42);
  width: 264px;
}

/* Portfolio page */

/* filter */

.filter-container {
  display: flex;
  padding: 12px 24px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  gap: 24px;
}

.button-list {
  background: #fff;
  text-decoration: none;
  list-style: none;
}
.filter-button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

/* Rows */

.project-list-container {
  display: flex;
  margin: 0 auto;
}

.project-list {
  background: #fff;
  list-style: none;
}

.project-list-item {
  width: calc((100% - 72px) / 3);
  gap: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-list-title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.project-list-dsc {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
